name: Update Galata References

on:
  issue_comment:
    types: [created, edited]

permissions:
  contents: write
  pull-requests: write

defaults:
  run:
    shell: bash -l {0}

jobs:
  update-snapshots:
    runs-on: ubuntu-latest

    if: github.event.issue.pull_request && contains(github.event.comment.body, 'please update snapshots')

    steps:
      - uses: jupyterlab/maintainer-tools/.github/actions/update-snapshots-checkout@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Download extension package
        uses: dawidd6/action-download-artifact@v2
        with:
          pr: ${{github.event.issue.number}}
          workflow: 'build.yml'
          workflow_conclusion: ''
          name: extension-artifacts

      - name: Install Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: cad
          create-args: >-
            python=3.9
            jupyterlab=4
            freecad=0.21.2

      - name: Install the extension
        shell: bash -l {0}
        run: |
          whereis python
          pip install "jupytercad>=3.0.0" jupytercad_freecad*.whl

      - name: Install dependencies
        shell: bash -l {0}
        working-directory: ui-tests
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
        run: |
          jlpm install
          yarn playwright install

      - uses: jupyterlab/maintainer-tools/.github/actions/update-snapshots@v1
        with:
          npm_client: jlpm
          github_token: ${{ secrets.GITHUB_TOKEN }}
          start_server_script: 'null'
          test_folder: ui-tests
